@media only screen and (max-width: 480px) {
   body,
  .row,
  .hero-text-box {
   max-width:100%;
}
  .hero-text-box { background-color: red; }
  .row{ padding: 4%; }
  h1 { font-size: 2.5rem; }
  h2 { font-size: 1.8rem; }
  .long-copy { font-size: 1.5rem; }

}
