@media only screen and (max-width: 480px) {
 
  .row {
   width:100%;
   padding: 3%;
}

.hero-text-box {
   background-color: red;
}

h1 { font-size: 3rem; }
h2 { font-size: 2.3rem; }
.long-copy { font-size: 1.5rem; }

}
