@media only screen and (max-width: 1200px) {
  .row,
  .hero-text-box {
    width:100%;
    padding: 3%;
  }

}


@media only screen and (max-width: 1023px) {
   section {padding: 6rem 0; }
   .long-copy,
   .about-text {
    width: 80%;
    margin-left: 10%;
}
}

@media only screen and (max-width: 767px) {
   section { padding: 3rem 0; }
  body,
  .long-copy,
  .about-text { font-size: 1.6rem; }
   h1 {font-size: 3.4rem;}
   h2 {font-size: 2.5rem;}
   h3 {font-size: 2rem; margin-top: 1rem;}
  .logo {
  height: 2.5rem;
  Margin-top: 2rem;
}
.main-nav { margin-top: 2.5rem; }
}

@media only screen and (max-width: 480px) {
  body,
  .long-copy,
  .about-text { font-size: 1.5rem; }
   h1 {font-size: 2.8rem;}
   h2 {font-size: 2rem;}
   h3 {font-size: 1.8rem;}
  .fab { margin-bottom: 1.5rem; }
}
